<section>
  <div>
    <h2>About Us</h2>
    <div>
      <p>
        Welcome to our premium watch collection, where luxury and style meet
        functionality and precision. Our selection of timepieces embodies the
        very best in Swiss craftsmanship and engineering, ensuring that you'll
        always have a reliable and stylish accessory on your wrist.
      </p>
    </div>
    <div class="bacground-button">
      <button>View catalog</button>
    </div>
    <div>
      <picture>
        <!-- Desktop screen -->
        <source
          media="(min-width: 1158px)"
          srcset="./images/app@2.jpg 1x, ./images/app.jpg 2x"
          type="image/jpg"
        />
        <!-- Tablet screen -->
        <source
          media="(min-width: 768px)"
          srcset="./images/app@2.jpg 1x, ./images/app.jpg 2x"
          type="image/jpg"
        />
        <!-- Mobile screen -->
        <source
          media="(max-width: 767px)"
          srcset="./images/app@2.jpg 1x, ./images/app.jpg 2x"
          type="image/jpg"
        />
        <img
          class=""
          src="./Images/about-img-x2/about-img-mob-x2.jpg "
          alt="watch"
          srcset="./Images/about-img-x2/about-img-mob-x2.jpg ./Images/about-img-x1/about-img-mob-x1.jpg"
        />
      </picture>
    </div>
  </div>
</section>
