<section class="section-about" id="about">
  <div class="container-div-about container">
    <div class="block-about">
      <div class="block-background">
        <div class="container-about">
          <h2 class="h2-about">About Us</h2>
          <div class="div-p-about">
            <p class="p-about">
              Welcome to our premium watch collection, where luxury and style
              meet functionality and precision. Our selection of timepieces
              embodies the very best in Swiss craftsmanship and engineering,
              ensuring that you'll always have a reliable and stylish accessory
              on your wrist.
            </p>
            <p class="p-about">
              At our premium watch collection, we believe that a watch is more
              than just a timekeeping device - it's a statement piece that
              reflects your personality and style. So why settle for anything
              less than the best?
            </p>
          </div>
        </div>

        <div class="button-about">
          <a href="#catalog">View catalog</a>
        </div>
      </div>
    </div>
    <div class="div-img-about">
      <picture>
        <!-- Desktop screen -->
        <source
          media="(min-width: 1280px)"
          srcset="
            ./images/about-img-x1/about-img-x1.jpg    1x,
            ./images/about-img-x2/about-images-x2.jpg 2x
          "
          type="image/jpg"
        />
        <!-- Tablet screen -->
        <source
          media="(min-width: 768px)"
          srcset="
            ./images/about-img-x1/about-img-tab-x1.jpg 1x,
            ./images/about-img-x2/about-img-tab-x2.jpg 2x
          "
          type="image/jpg"
        />
        <!-- Mobile screen -->
        <source
          media="(max-width: 767px)"
          srcset="
            ./images/about-img-x1/about-img-mob-x1.jpg 1x,
            ./images/about-img-x2/about-img-mob-x2.jpg 2x
          "
          type="image/jpg"
        />
        <img
          class="img-about"
          src="./images/about-img-x1/about-img-mob-x1.jpg"
          alt="watch"
          srcset="./images/about-img-x1/about-images-x1.jpg 1x"
        />
      </picture>
    </div>
  </div>
</section>
