<section>
  <div class="container">
    <h2 class="h2-about">About Us</h2>
    <div class="container-about">
      <p class="p-about">
        Welcome to our premium watch collection, where luxury and style meet
        functionality and precision. Our selection of timepieces embodies the
        very best in Swiss craftsmanship and engineering, ensuring that you'll
        always have a reliable and stylish accessory on your wrist.
      </p>
    </div>
    <div class="bacground-button">
      <button class="button-about">View catalog</button>
    </div>
    <div class="div-img-about">
      <picture>
        <!-- Desktop screen -->
        <source
          media="(min-width: 1158px)"
          srcset="
            ./Images/about-img-x1/about-img-x1.jpg,
            ./Images/about-img-x2/about-images-x2.jpg
          "
          type="image/jpg"
        />
        <!-- Tablet screen -->
        <source
          media="(min-width: 768px)"
          srcset="
            ./Images/about-img-x1/about-img-tab-x1.jpg,
            ./Images/about-img-x2/about-img-tab-x2.jpg
          "
          type="image/jpg"
        />
        <!-- Mobile screen -->
        <source
          media="(max-width: 767px)"
          srcset="
            ./Images/about-img-x1/about-img-mob-x1.jpg,
            ./Images/about-img-x2/about-img-mob-x2.jpg
          "
          type="image/jpg"
        />
        <img
          class="img-about"
          src="./Images/about-img-x2/about-img-mob-x2.jpg "
          alt="watch"
          srcset="./Images/about-img-x2/about-img-mob-x2.jpg ./Images/about-img-x1/about-img-mob-x1.jpg"
        />
      </picture>
    </div>
  </div>
</section>
