<section class="adv" id="adv-section">
  <div class="container">
    <div class="adv-wrapper">
      <h2 class="adv-title visually-hidden">
        High-Performance Sports Watches for Men and Women - Top Brands and
        Advanced Features
      </h2>
      <div class="adv-paragraph">
        <p>
          Choose <span class="adv-span">your story</span>, making every moment
          unique. Time is your style, and we reveal it.
        </p>
      </div>
      <div class="adv-button">
        <a class="adv-link" href="#contact">Contact Us</a>
      </div>
    </div>
  </div>
</section>
