<section class="catalog">
    <div class="container">
        <h2 class="catalog-title">Catalog</h2>
        <ul class="catalog-list">
            <li class="catalog-item">
                <img class="card-image" src="/Images/catalog-img-x1/catalog-img-1-mob-x1.png"
                 alt="Garmin Fenix 7X Pro Sapphire Solar" width="268" height="292"  />
                <h3 class="catalog-title-list"></h3>
                <p class="catalog-text">Garmin Fenix 7X Pro Sapphire Solar</p>
            </li>
            <li class="catalog-item">
                <img class="card-image" src="/Images/catalog-img-x1/catalog-img-2-mob-x1.png" alt="Garmin Marq Athlete "  width="268" height="292"/>
                <h3 class="catalog-title-list"></h3>
                <p class="catalog-text">Garmin Marq Athlete</p>
            </li>
            <li class="catalog-item">
                <img class="card-image" src="/Images/catalog-img-x1/catalog-img-3-mob-x1.png" alt="Garmin Descent MK1 "  width="268" height="292" />
                <h3 class="catalog-title-list"></h3>
                <p class="catalog-text"></p>
            </li>
            <li class="catalog-item">
                <img class="card-image" src="/Images/catalog-img-x1/catalog-img-4-mob-x1.png" alt="Garmin D2 Delta PX" width="268" height="292" />
                <h3 class="catalog-title-list"></h3>
                <p class="catalog-text"></p>
            </li>
            <li class="catalog-item">
                <img class="card-image" src="" width="268" height="292" />
                <h3 class="catalog-title-list"></h3>
                <p class="catalog-text"></p>
            </li>
            <li  class="catalog-item">
                <img class="card-image"  width="268" height="292" />
                <h3 class="catalog-title-list"></h3>
                <p class="catalog-text"></p>
            </li>
        </ul>
    </div>
</section>