<section class="catalog">
    <div class="container">
        <h2 class="catalog-title">Catalog</h2>
        <ul class="catalog-list">
            <li class="catalog-item">
                <div class="catalog-item-img">
                <img class="catalog-card-image" src="/Images/catalog-img-x1/catalog-img-1-mob-x1.png"
                 alt="Garmin Fenix 7X Pro Sapphire Solar" width="279" height="262"  />
                </div>
                 <div class="catalog-image-text">
                <h3 class="catalog-title-list">Garmin Fenix 7X Pro Sapphire Solar</h3>
                <p class="catalog-text">€500</p>
                </div>
            </li>
            <li class="catalog-item">
                <div class="catalog-item-img">
                <img class="card-image" src="/Images/catalog-img-x1/catalog-img-2-mob-x1.png"
                alt="Garmin Marq Athlete "  width="208" height="226" />
                </div>
                <div class="catalog-image-text">
                <h3 class="catalog-title-list">Garmin Marq Athlete</h3>
                <p class="catalog-text">€450</p>
                </div>
            </li>
            <li class="catalog-item">
                <div class="catalog-item-img">
                <img class="card-image" src="/Images/catalog-img-x1/catalog-img-3-mob-x1.png" 
                alt="Garmin Descent MK1 "  width="208" height="226"  />
                </div>
                <div class="catalog-image-text">
                <h3 class="catalog-title-list">Garmin Descent MK1</h3>
                <p class="catalog-text">€680</p>
                </div>
            </li>
            <li class="catalog-item">
                <div class="catalog-item-img">
                <img class="card-image" src="/Images/catalog-img-x1/catalog-img-4-mob-x1.png"
                 alt="Garmin D2 Delta PX" width="208" height="226" />
                </div>
                <div class="catalog-image-text">
                <h3 class="catalog-title-list">Garmin D2 Delta PX</h3>
                <p class="catalog-text">€380</p>
                </div>
            </li>
            <div class="catalog-item-visually">
            <li class="catalog-item.catalog-item-visually">
                <img class="card-image" src=""   width="208" height="226"  />
                <h3 class="catalog-title-list"></h3>
                <p class="catalog-text"></p>
            </li>
            <li  class="catalog-item">
                <img class="card-image" width="208" height="226"  />
                <h3 class="catalog-title-list"></h3>
                <p class="catalog-text"></p>
            </li>
            </div>
        </ul>
        <button class="catalog-button" type="button">Show more</button>
    </div>
</section>