<section class="hero" id="hero">
  <div class="container hero-container">
    <div class="box-title-people">
      <div class="box-hero-title">
        <h1 class="hero-title">
          Welcome to our <span class="collection-style">collection</span> of
          premium watches
        </h1>
        <div class="hero-box-text">
          <p class="hero-text">
            Our watches are not just timepieces, but also an expression of your
            personality and lifestyle. From classic designs to modern ones, we
            have a watch to suit every taste and occasion.
          </p>
        </div>
      </div>
      <div class="hero-box-img">
        <ul class="hero-img-list">
          <li class="hero-img-item">
            <img
              srcset="
                /images/hero-img-x1/hero-rev-1-x1.png 1x,
                /images/hero-img-x2/hero-rev-1-x2.png 2x,
                /images/hero-img-x3/hero-rev-1-x3.png 3x
              "
              src="/images/hero-img-x1/hero-rev-1-x1.png"
              alt="human"
            />
          </li>
          <li class="hero-img-item">
            <img
              srcset="
                /images/hero-img-x1/hero-rev-2-x1.png 1x,
                /images/hero-img-x2/hero-rev-2-x2.png 2x,
                /images/hero-img-x3/hero-rev-2-x3.png 3x
              "
              src="/images/hero-img-x1/hero-rev-2-x1.png"
              alt="human"
            />
          </li>
          <li class="hero-img-item">
            <img
              srcset="
                /images/hero-img-x1/hero-rev-3-x1.png 1x,
                /images/hero-img-x2/hero-rev-3-x2.png 2x,
                /images/hero-img-x3/hero-rev-3-x3.png 3x
              "
              src="/images/hero-img-x1/hero-rev-3-x1.png"
              alt="human"
            />
          </li>
        </ul>
        <a class="link-scroll" href="#footer">Scroll down</a>
      </div>
    </div>
    <picture>
      <source
        srcset="
          /images/hero-img-x1/hero-main-img-x1.jpg 1x,
          /images/hero-img-x2/hero-main-img-x2.jpg 2x
        "
        media="(min-width: 1280px)"
      />
      <source
        srcset="
          /images/hero-img-x1/hero-main-img-tab-x1.jpg 1x,
          /images/hero-img-x2/hero-main-img-tab-x2.jpg 2x
        "
        media="(min-width: 768px)"
      />
      <source
        srcset="
          /images/hero-img-x1/hero-main-img-mob-x1.jpg 1x,
          /images/hero-img-x2/hero-main-img-mob-x2.jpg 2x
        "
        media="(max-width: 767px)"
      />
      <img
        class="hero-img-watch"
        src="/images/hero-img-x1/hero-main-img-mob-x1.jpg"
        alt="watch"
      />
    </picture>
  </div>
</section>
