<section class="reviews">
    <div class="container">
        <h2 class="reviews-title">Reviews</h2>
        <ul class="reviews-list">
            <li class="reviews-item-1">
                <div class="container-card">
                <img class="images" width="56" height="56" 
                srcset="/images/reviews-img-x1/reviews-img-1-x1.png 1x,
                /images/reviews-img-x2/reviews-img-1-x2.png"
                alt="John Wax"
                src="/images/reviews-img-x1/reviews-img-1-x1.png">
            </div>
                <h3 class="reviews-subtitle">John Wax</h3>
                <p class="reviews-text-card">Buying a watch from was the best choice for me. The design is perfectly combined with high quality materials. The strap fits nicely on the hand, and the mechanism works flawlessly.</p>
                
            </li>
            <li class="reviews-item-2"></li>
            <li class="reviews-item-3"></li>
        </ul>
    </div>
</section>