<section class="sale" id="sale">
  <div class="container sale-container">
    <h2 class="sale-title">Sale</h2>

    <div class="sale-content">
      <div class="sale-watches-container">
        <div class="sale-slider">
          <ul class="sale-slider-items">
            <li class="slider-item">
              <picture class="sale-img">
                <source
                  srcset="
                    ./images/sale-images-x1/sale-img-1-x1.png 1x,
                    ./images/sale-images-x2/sale-img-1-x2.png 2x
                  "
                  media="(min-width: 1280px)"
                />
                <source
                  srcset="
                    ./images/sale-images-x1/sale-img-1-x1.png 1x,
                    ./images/sale-images-x2/sale-img-1-x2.png 2x
                  "
                  media="(min-width: 768px)"
                />
                <source
                  srcset="
                    ./images/sale-images-x1/sale-img-1-mob-x1.png 1x,
                    ./images/sale-images-x2/sale-img-1-mob-x2.png 2x
                  "
                  media="(min-width: 320px)"
                />
                <img
                  class="sale-watch-1"
                  src="./images/sale-images-x1/sale-img-1-x1.png"
                  alt="sale-img-1"
                  width="96"
                  height="100"
                />
              </picture>
            </li>
            <li class="slider-item">
              <picture class="sale-img">
                <source
                  srcset="
                    ./images/sale-images-x1/sale-img-2-x1.png 1x,
                    ./images/sale-images-x2/sale-img-2-x2.png 2x
                  "
                  media="(min-width: 1280px)"
                />
                <source
                  srcset="
                    ./images/sale-images-x1/sale-img-2-x1.png 1x,
                    ./images/sale-images-x2/sale-img-2-x2.png 2x
                  "
                  media="(min-width: 768px)"
                />
                <source
                  srcset="
                    ./images/sale-images-x1/sale-img-2-mob-x1.png 1x,
                    ./images/sale-images-x2/sale-img-2-mob-x2.png 2x
                  "
                  media="(min-width: 320px)"
                />
                <img
                  class="sale-watch-1"
                  src="./images/sale-images-x1/sale-img-2-x1.png"
                  alt="sale-img-1"
                  width="96"
                  height="100"
                />
              </picture>
            </li>
            <li class="slider-item">
              <picture class="sale-img">
                <source
                  srcset="
                    ./images/sale-images-x1/sale-img-3-x1.png 1x,
                    ./images/sale-images-x2/sale-img-3-x2.png 2x
                  "
                  media="(min-width: 1280px)"
                />
                <source
                  srcset="
                    ./images/sale-images-x1/sale-img-3-x1.png 1x,
                    ./images/sale-images-x2/sale-img-3-x2.png 2x
                  "
                  media="(min-width: 768px)"
                />
                <source
                  srcset="
                    ./images/sale-images-x1/sale-img-3-mob-x1.png 1x,
                    ./images/sale-images-x2/sale-img-3-mob-x2.png 2x
                  "
                  media="(min-width: 320px)"
                />
                <img
                  class="sale-watch-1"
                  src="./images/sale-images-x1/sale-img-3-x1.png"
                  alt="sale-image-4"
                  width="96"
                  height="100"
                />
              </picture>
            </li>
            <li class="slider-item">
              <picture class="sale-img">
                <source
                  srcset="
                    ./images/sale-images-x1/sale-img-4-x1.png 1x,
                    ./images/sale-images-x2/sale-img-4-x2.png 2x
                  "
                  media="(min-width: 1280px)"
                />
                <source
                  srcset="
                    ./images/sale-images-x1/sale-img-4-x1.png 1x,
                    ./images/sale-images-x2/sale-img-4-x2.png 2x
                  "
                  media="(min-width: 768px)"
                />
                <source
                  srcset="
                    ./images/sale-images-x1/sale-img-4-mob-x1.png 1x,
                    ./images/sale-images-x2/sale-img-4-mob-x2.png 2x
                  "
                  media="(min-width: 320px)"
                />
                <img
                  class="sale-watch-1"
                  src="./images/sale-images-x1/sale-img-4-x1.png"
                  alt="sale-img-4"
                  width="96"
                  height="100"
                />
              </picture>
            </li>
          </ul>
        </div>
        <div class="sale-main-img-5">
          <picture class="sale-img sale-img-5">
            <img
              srcset="
                /images/sale-images-x1/sale-img-5-x1.png 1x,
                /images/sale-images-x2/sale-img-5-x2.png 2x
              "
              src="./images/sale-images-x1/sale-img-5-x1.png"
              alt="sale-img-5"
            />
          </picture>
        </div>
      </div>

      <div class="sale-offer">
        <div class="sale-product-identity">
          <h2 class="sale-product-name">
            MARQ® Commander (Gen 2) - Carbon Edition
          </h2>
          <p class="sale-offer-product-tag">Product tag: 706587</p>
        </div>
        <div class="sale-details">
          <div class="sale-price">
            <p class="new-price">€1500</p>
            <p class="original-price">€3000</p>
          </div>
          <p class="sale-description">
            The Garmin MARQ Commander Gen 2 Carbon Edition is a modern
            smartwatch for adventurers that takes materials and features to the
            next level. The body of the watch is made of very durable Fused
            Carbon Fiber material and has a precise AMOLED touch screen. The
            sensitive touch screen is complemented by buttons that can be used
            in any conditions.
          </p>
        </div>
        <ul class="sale-tags">
          <li class="sale-tag">Fused carbon fiber</li>
          <li class="sale-tag">Grade-5 Titanium</li>
          <li class="sale-tag">Athlete</li>
          <li class="sale-tag">Golfer</li>
          <li class="sale-tag">Commander</li>
          <li class="sale-tag">Adventurer</li>
        </ul>
      </div>
    </div>
  </div>
</section>
