.container {
    max-width: 375px;
    padding: 0 20px;
    margin: 0 auto;
}
.background-button {
    color: 3350E9;
}

@media only screen and (min-width: 768px) {
    .container {
        max-width: 768px;
        padding: 0 32px;
    }
}

@media only screen and (min-width: 1280px) {
    .container {
        max-width: 1280px;
        padding: 0 65px;
    }
}