.visually-hidden {
    position: absolute;
    width: 1px;
    height: 1px;
    margin: -1px;
    border: 0;
    padding: 0;
    white-space: nowrap;
    clip-path: inset(100%);
    clip: rect(0 0 0 0);
    overflow: hidden;
}

.adv {
    margin-bottom: 60px;
}

.adv-wrapper {
    background-color: rgba(17, 17, 17, 0.6);
    background-image: linear-gradient(rgba(102, 102, 102, 1), rgba(102, 102, 102, 1)), url('/images/adv-img-x1/adv-bg-img-mob-x1.png');
    box-shadow: 0 4px 4px 0 rgba(0, 0, 0, 0.25);
    background-size: cover;
    background-blend-mode: overlay;
    background-repeat: no-repeat;
    background-position: center;
    padding: 60px 28px;
    display: flex;
    flex-wrap: wrap;
    gap: 28px;
    border-radius: 30px;
    margin: 0 auto;
}

@media screen and (-webkit-min-device-pixel-ratio: 2),
(min-resoluion: 2dppx),
(min-resoluion: 192dpi) {
    .main-hero-section {
        background-image: linear-gradient(rgba(102, 102, 102, 1),
                rgba(102, 102, 102, 1)),
            url('/src/images/adv-img-x2/adv-bg-img-mob-x2.png');
    }
}

.adv-title {
    visibility: hidden;
}

.adv-paragraph {
    font-weight: 600;
    font-size: 32px;
    line-height: 32px;
    line-height: 1;
    letter-spacing: -0.02em;
    color: #fbfbfb;
}

.adv-span {
    color: rgba(251, 251, 251, 0.5);
}

.adv-link {
    border: 1px solid rgba(251, 251, 251, 0.15);
    border-radius: 16px;
    min-width: 160px;
    height: 48px;
    font-weight: 500;
    font-size: 14px;
    line-height: 129%;
    text-align: center;
    color: #fbfbfb;
    display: flex;
    align-items: center;
    justify-content: center;
    text-align: center;
    color: #fbfbfb;
    cursor: pointer;
    transition: background-color 0.25s ease, color 0.25s ease, border-color 0.25s ease;
}

.adv-link:hover {
    background: #fbfbfb;
    color: #0c0c0c;
}

.adv-link:active {
    background: #0c0c0c;
    color: #fbfbfb;
}

/* Media rules for tablets (from 768px) */
@media screen and (min-width: 768px) {
    .adv {
        margin-bottom: 80px;
    }

    .adv .container {
        padding: 0 32px 0 32px;
    }

    .adv-wrapper {
        background-image: linear-gradient(rgba(102, 102, 102, 1), rgba(102, 102, 102, 1)), url('/images/adv-img-x1/adv-bg-img-tab-x1.png');
        padding: 80px 64px;
        gap: 32px;
    }

    @media screen and (-webkit-min-device-pixel-ratio: 2),
    (min-resoluion: 2dppx),
    (min-resoluion: 192dpi) {
        .main-hero-section {
            background-image: linear-gradient(rgba(102, 102, 102, 1),
                    rgba(102, 102, 102, 1)),
                url('/src/images/adv-img-x2/adv-bg-img-tab-x2.png');
        }
    }



    .adv-paragraph {
        font-size: 48px;
        line-height: 92%;
    }

}

/* Media rules for tablets (from 1280px) */
@media screen and (min-width: 1280px) {

    .adv {
        margin-bottom: 100px;
    }

    .adv .container {
        padding: 0 65px;
    }

    .adv-wrapper {
        flex-wrap: nowrap;
        background-image: linear-gradient(rgba(102, 102, 102, 1), rgba(102, 102, 102, 1)), url('../images/adv-img-x1/adv-bg-img-x1.png');
        padding: 83px 80px;
        gap: 140px;
    }

    @media screen and (-webkit-min-device-pixel-ratio: 2),
    (min-resoluion: 2dppx),
    (min-resoluion: 192dpi) {
        .main-hero-section {
            background-image: linear-gradient(rgba(102, 102, 102, 1),
                    rgba(102, 102, 102, 1)),
                url('/src/images/adv-img-x2/adv-bg-img-x2.png');
        }
    }

    .adv-paragraph {
        font-size: 48px;
        line-height: 92%;
    }

}