.adv {
    padding: 60px 20px;
}

.adv .container {
    display: flex;
    flex-wrap: wrap;
    min-width: 279;
    padding: 60px 28px;
    background-color: #fafafa;
    background-image: url("/src/images/adv-bg-img-mob-x1.png");
}

.adv-title {
    background-color: #0C0C0C;
}

.visually-hidden {
    position: absolute;
    width: 1px;
    height: 1px;
    margin: -1px;
    border: 0;
    padding: 0;
    white-space: nowrap;
    clip-path: inset(100%);
    clip: rect(0 0 0 0);
    overflow: hidden;
}

.adv-span {
    background-color: #fafafa
}

.adv-btn {
    background-color: #fafafa;
    min-width: 160px;
}

.adv-btn:hover {
    background-color: #0056b3;
}