.sale {
    margin-top: 0;
    padding-bottom: 60px;
    display: flex;
    justify-content: center;
    align-items: center;
}

.sale-container {
    display: flex;
    flex-direction: column;
    overflow: hidden;
    margin: 20px;
}

.sale-watches-container {
    margin-bottom: 20px;
}

.sale-slider {
    text-align: center;
    margin-bottom: 20px;
}

.sale-title {
    font-weight: 600;
    font-size: 32px;
    line-height: 1;
    letter-spacing: -0.02em;
    color: #0c0c0c;
    margin-bottom: 24px;
}

.sale-slider-items {
    display: flex;
    flex-direction: row;
    gap: 5px;
    overflow-x: auto;
    justify-content: center;
    align-items: center;
}

.slider-item {
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: #f3f3f3;
    cursor: pointer;
    flex-direction: row;
    /* padding: 13px 14px; */
    border: 1px solid rgba(12, 12, 12, 0.05);
    border-radius: 16px;
    width: 80px;
    height: 80px;
}

.sale-img {
    width: 52px;
    height: 54px;
}

.sale-main-img-5 {
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: #f3f3f3;
    border: 1px solid rgba(12, 12, 12, 0.05);
    border-radius: 30px;
    width: 100%;
    height: 385px;
}

.sale-img-5 {
    width: 235px;
    height: 285px;
}

.sale-offer {
    display: flex;
    flex-direction: column;
    padding: 48px 28px;
    background-color: #3350e9;
    border-radius: 30px;
}

.sale-product-identity {
    margin-bottom: 20px;
}

.sale-product-name {
    margin-bottom: 10px;
    font-weight: 600;
    font-size: 24px;
    line-height: 1.17;
    letter-spacing: -0.02em;
    color: #fbfbfb;
}

.sale-offer-product-tag {
    font-weight: 400;
    font-size: 14px;
    line-height: 1.29;
    letter-spacing: -0.02em;
    color: rgba(251, 251, 251, 0.5);
    margin: 0;
}

.sale-details {
    margin-bottom: 28px;
}

.sale-price {
    display: flex;
    align-items: center;
    gap: 9px;
    margin-bottom: 28px;

}

.new-price {
    font-weight: 600;
    font-size: 16px;
    line-height: 1.25;
    letter-spacing: -0.02em;
    color: #fbfbfb;
    border: 1px solid #4761eb;
    border-radius: 8px;
    background-color: #4761eb;
    width: 78px;
    height: 32px;
    justify-content: center;
    align-items: center;
    display: flex;
}

.original-price {
    text-decoration: line-through;
    font-weight: 400;
    font-size: 12px;
    line-height: 1.17;
    letter-spacing: -0.02em;
    text-decoration: line-through;
    color: rgba(251, 251, 251, 0.5);

}

.sale-description {
    font-weight: 500;
    font-size: 14px;
    line-height: 1.28571;
    letter-spacing: -0.02em;
    color: rgba(251, 251, 251, 0.7);
}

.product-tag {
    font-size: 0.9em;
}

.sale-description {
    font-weight: 500;
    font-size: 14px;
    line-height: 1.29;
    letter-spacing: -0.02em;
    color: rgba(251, 251, 251, 0.7);
}

.sale-tags {
    display: flex;
    flex-wrap: wrap;
    gap: 8px;
}

.sale-tag {
    border-radius: 8px;
    border: 1px solid rgba(251, 251, 251, 0.2);
    padding: 7px 12px;
    font-weight: 500;
    font-size: 12px;
    line-height: 1.33;
    color: #fbfbfb;
}

/* Tablet screens */
@media (min-width: 768px) {
    .sale {
        padding-bottom: 80px;
    }

    .sale-title {
        font-weight: 600;
        font-size: 48px;
        line-height: 0.92;
        margin-bottom: 40px;
    }

    .sale-watches-container {
        display: flex;
        justify-content: center;
        align-items: center;
        margin-bottom: 40px;
    }

    .sale-main-img-5 {
        border-radius: 50px;
        width: 552px;
        height: 558px;
    }

    .sale-img.sale-img-5 {
        width: 328px;
        height: 398px;
    }

    .sale-slider {
        margin-right: 20px;
        margin-bottom: 0;
    }

    .sale-slider-items {
        flex-direction: column;
        gap: 10px;
    }

    .slider-item {
        width: 132px;
        height: 132px;
        border-radius: 20px;
    }

    .sale-img {
        width: 96px;
        height: 100px;
    }

    .sale-offer {
        width: 704px;
        padding: 60px;
    }

    .sale-product-name {
        font-weight: 600;
        font-size: 32px;
        line-height: 1.12;
    }

    .sale-price {
        margin-bottom: 30px;
    }

    .new-price {
        font-size: 20px;
        line-height: 1;
    }

    .sale-description {
        font-weight: 500;
        font-size: 16px;
        line-height: 1.25;
    }

    .sale-details {
        margin-bottom: 40px;
    }

    .sale-tags {
        width: 398px;
    }

    .sale-tag {
        font-weight: 500;
        font-size: 14px;
        line-height: 1.29;
    }
}

/* Desktop screens */
@media (min-width: 1280px) {

    .sale-container {
        width: 1280px;
        height: 642px;
    }

    .sale-content {
        display: flex;
        flex-direction: row;
    }

    .sale-watches-container {
        width: 580px;
        margin: 0;
    }

    .sale-main-img-5 {
        width: 428px;
        height: 558px;
    }

    .sale-img-5 {
        width: 328px;
        height: 398px;
    }

    .sale-offer {
        width: 530px;
        margin-left: auto;
    }

    .sale-product-name {
        width: 389px;
    }

    .sale {
        padding-bottom: 100px;
    }
}